{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="panel fts-border-verde">
        <!-- Default panel contents -->
        <div class="panel-heading fts-bg-verde-gradiente">                
            <h4 class="inline">Grupo de Atención</h4>
            <div class="inline pull-right">
                <a href="{% url 'nuevo_grupo_atencion' %}">
                    <button type="button" class="btn btn-info btn-sm fts-bg-gris-osc-gradiente">
                        <span class="glyphicon glyphicon-plus"></span> Nuevo Grupo Atención
                    </button>
                </a>
                <a href="{% url 'nueva_derivacion_externa' %}">
                    <button type="button" class="btn btn-info btn-sm fts-bg-gris-osc-gradiente">
                        <span class="glyphicon glyphicon-plus"></span> Nueva Derivación Externa
                    </button>
                </a>
            </div>
            <div class="clear-fix"></div>
        </div>
        <div class="panel-body">
            <div class="col-lg-12">                                   
                <table class="table table-bordered">
                    <thead>
                      <tr class="fts-table-bg">                                
                        <th>Grupo de Atención</th>
                        <th>Ring Strategy</th>
                        <th>Timeout</th>
                        <th>Agentes</th>
                        <th>Eliminar</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for grupo_atencion in grupos_atencion %}
                            <tr>
                                <td>                          
                                     <a href="{% url 'edita_grupo_atencion' grupo_atencion.pk %}">
                                     {{ grupo_atencion.nombre }}
                                     </a>
                                </td>
                                <td>
                                    {{ grupo_atencion.get_ring_strategy_display }}
                                </td>
                                <td>
                                    {{ grupo_atencion.timeout }}
                                </td>
                                <td>
                                    {{ grupo_atencion.get_cantidad_agentes }}
                                </td>
                                <td>
                                    <a href="{% url 'grupo_atencion_elimina' grupo_atencion.pk %}">
                                        <button type="button" class="btn btn-danger btn-sm">
                                            <span class="glyphicon glyphicon-remove"></span> Eliminar
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="6">
                                    <p class="text-center text-danger">
                                        <em>No se encontraron Grupos de Atención creados.</em>
                                    </p>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- <div>
                <a href="{% url 'nuevo_grupo_atencion' %}">
                    <button type="button" class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-plus"></span> Nuevo Grupo Atención
                    </button>
                </a>
            </div> -->
        </div>
    </div>
{% endblock %}