/virtualenv
*.pyc
settings_local.py
/db.sqlite3
/.settings/org.eclipse.core.resources.prefs
/media_root
/virtualenv26
/fts_web_settings_local.py
/pydev_manage.py
/.coverage
/docs/_build
/build
/deploy/hosts-virtual-pruebas
