## reqs. instalados por virtualenv/pip
wsgiref==0.1.2
## Django
Django==1.6.5
South==1.0
psycopg2==2.5.3
pytz==2014.4
## Crispy forms
django-crispy-forms==1.4.0
## pygal
lxml==3.3.5
pygal==1.4.6
## Twisted
Twisted==13.2.0
zope.interface==4.1.1
## Requests
requests==2.3.0
## xlrd
xlrd==0.9.3
## uwsgi
django-uwsgi-cache==0.2
uWSGI==2.0.6
