{% extends "base.html" %}
{% load static %}

{% block head_js %}
    <script type="text/javascript">
        setInterval(function(){window.location.reload(true)},10000);
    </script>
{% endblock %}

{% block content %}
    <div class="panel panel-info">
        <!-- Default panel contents -->
        <div class="panel-heading">                
            <h4 class="inline">Supervisión: Detalle de Opciones Seleccionadas</h4>
            <div class="clear-fix"></div>
        </div>
        <div class="panel-body">
            <div class="col-lg-12">  
                <table class="table table-bordered">
                    <thead>
                        {% for opcion in detalle_opciones.keys %}
                            <th>
                                <h5>#{{ opcion }}</h5>
                            </th>
                        {% endfor %}
                    </thead>
                    <tbody>
                        <tr>
                        {% for opcion, contactos in detalle_opciones.items %}
                            <td> 
                                <table><tbody>
                                    {% for contacto in contactos %}
                                        <tr>
                                            <td>
                                                {{ contacto }}
                                            </td>
                                        </tr>
                                    {%endfor %}
                                </tbody></table>
                            </td>
                        {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}