{% extends "base.html" %}
{% load static %}

{% block head_js %}
    <script type="text/javascript" src="{% static 'fts_web/js/svg.jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'fts_web/js/pygal-tooltips.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="panel panel-info">
        <!-- Default panel contents -->
        <div class="panel-heading">                
            <h4 class="inline">Supervisión: Campañas en Ejecución</h4>
            <div class="clear-fix"></div>
        </div>
        <div class="panel-body">
            <div>  
               
                {% for campana in campanas_ejecucion %}
                    <div class="col-sm-6 col-md-6 col-lg-4">                             
                        <table class="table table-bordered">
                            <tbody>                            
                                <tr class="active">
                                    <td width="65%">                          
                                        <h4 class="text-primary">{{ campana.nombre }}</h4>
                                    </td>
                                    <td>
                                        <h5><small>
                                            <p>{{ campana.fecha_inicio|date:"d/m/Y" }} - {{ campana.fecha_fin|date:"d/m/Y" }}</p>
                                            <p>
                                                {{ campana.obtener_actuacion_actual.get_dia_semanal_display }}: 
                                                {{ campana.obtener_actuacion_actual.hora_desde|time:"H:i" }} -
                                                {{ campana.obtener_actuacion_actual.hora_hasta|time:"H:i" }} 
                                            </p>  
                                        </small></h5>
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td colspan="2">
                                        <h5><small>Avance</small></h5>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-primary" style="width: {{ campana.obtener_estadisticas.porcentaje_avance|floatformat:'0' }}%">
                                                {% if campana.obtener_estadisticas.porcentaje_avance > 0 %}
                                                    <span>{{ campana.obtener_estadisticas.porcentaje_avance }}%</span>
                                                {% endif %} 
                                            </div>
                                        </div>
                                        <!-- <span class="label label-success">Contestadas</span> <span class="label label-warning">No Contestadas</span> -->
                                    </td>           
                                </tr>
                                <tr>
                                    <td colspan="2">
                                    <h5><small>Gráfico</small></h5>
                                    <div class="graficos-avances">
                                        <figure>
                                            {{ campana.render_grafico_torta_avance_campana.render|safe }}
                                        </figure> 
                                    </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        
                    </div>
                {% empty %} 
                    <div class="col-lg-12">                  
                        <p class="text-center text-danger">
                            <em>No se encontraron Campañas.</em>
                        </p>
                    </div>
                {% endfor %}
                
            </div>
        </div>
    </div>
{% endblock %}