{% extends "base.html" %}
{% load static %}

{% block head_js %}
    <script type="text/javascript" src="{% static 'fts_web/js/svg.jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'fts_web/js/pygal-tooltips.js' %}"></script>

    <script type="text/javascript">
        setInterval(function(){window.location.reload(true)},10000);
    </script>
{% endblock %}

{% block content %}
    <div class="panel panel-info">
        <!-- Default panel contents -->
        <div class="panel-heading">                
            <h4 class="inline">Supervisión: Campañas en Ejecución</h4>
            <div class="clear-fix"></div>
        </div>
        <div class="panel-body">
            <div>  
               
                {% for campana in campanas_ejecucion %}
                    {% with graficos_estadisticas=campana.obtener_estadisticas_render_graficos_supervision %}
                        <div class="col-sm-6 col-md-6 col-lg-4">
                            <table class="table table-bordered">
                                <tbody>                            
                                    <tr class="active">
                                        <td width="65%">                          
                                            <h4 class="text-primary">{{ campana.nombre }}</h4>
                                        </td>
                                        <td>
                                            <h5><small>
                                                <p>{{ campana.fecha_inicio|date:"d/m/Y" }} - {{ campana.fecha_fin|date:"d/m/Y" }}</p>
                                                <p>
                                                    {{ campana.obtener_actuacion_actual.get_dia_semanal_display }}: 
                                                    {{ campana.obtener_actuacion_actual.hora_desde|time:"H:i" }} -
                                                    {{ campana.obtener_actuacion_actual.hora_hasta|time:"H:i" }} 
                                                </p>  
                                            </small></h5>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td colspan="2">
                                            <h5><small>Porcentaje de opciones seleccionadas.</small></h5>
                                            <div class="graficos-avances">
                                                <figure>
                                                    {{ graficos_estadisticas.torta_opcion_x_porcentaje.render|safe }}
                                                </figure> 
                                            </div>
                                        </td>
                                    </tr>
                                    
                                    <tr>
                                        <td colspan="2">
                                            <h5><small>Avance de la campana.</small></h5>
                                            <div class="col-lg-1 no-padding-left">
                                                    <span class="badge">{{ graficos_estadisticas.estadisticas.porcentaje_avance|floatformat:'0'  }}%</span>
                                            </div>
                                            <div class="col-lg-11">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-primary" style="width: {{ graficos_estadisticas.estadisticas.porcentaje_avance|floatformat:'0' }}%"></div>
                                                </div>
                                            </div>
                                            <!-- <span class="label label-success">Contestadas</span> <span class="label label-warning">No Contestadas</span> -->
                                        </td>           
                                    </tr>
                                    
                                </tbody>
                            </table>                        
                        </div>
                    {% endwith %}
                {% empty %} 
                    <div class="col-lg-12">                  
                        <p class="text-center text-danger">
                            <em>No se encontraron Campañas.</em>
                        </p>
                    </div>
                {% endfor %}
                
            </div>
        </div>
    </div>
{% endblock %}