{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="panel panel-info">
        <!-- Default panel contents -->
        <div class="panel-heading">                
            <h4 class="inline">Detalle Reporte</h4>
            <div class="clear-fix"></div>
        </div>


        {% with estadisticas=campana.obtener_estadisticas %}
            <div class="panel-body">
                <div class="col-lg-12"> 
                    <table class="table">
                        <tbody>
                            <tr class="active">
                                <td width="45%"> <h3 class="text-primary">{{ campana.nombre }}</h3></td>
                                <td>
                                    <h3><small>
                                        <b>Desde: </b>{{ campana.fecha_inicio|date:"d/m/Y" }}
                                    </small></h3>
                                </td>
                                <td>
                                    <h3><small>
                                        <b>Hasta: </b>{{ campana.fecha_fin|date:"d/m/Y" }}
                                    </small></h3>
                                </td>
                                
                                <td>
                                    <h3><small>
                                        <b>Base Datos: </b>
                                        {{ campana.bd_contacto }} 
                                        ({{ estadisticas.total_contactos }} Contactos)
                                    </small></h3>
                                </td>                           
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-bordered">
                        <thead>
                            <tr class="active">
                                <td colspan="2">
                                    <h4 class="text-muted">Totales generales.</h4>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td  width="50%">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td><h5>Cantidad Total Contestadas</h5></td>
                                                <td align="right"><h5><span class="label label-primary">{{ estadisticas.total_atentidos }}</span></h5></td>
                                            </tr>

                                            <tr>
                                                <td><h5>Cantidad Total No Contestadas</h5></td>
                                                <td align="right"><h5><span class="label label-primary">{{ estadisticas.total_no_atentidos }}</span></h5></td>
                                            </tr>

                                             <tr>
                                                <td><h5>Cantidad Total Pendientes</h5></td>
                                                <td align="right"><h5><span class="label label-primary">{{ estadisticas.total_no_llamados }}</span></h5></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td align="center">
                                    <div class="graficos-avances">
                                        <figure>
                                            {# campana.render_graficos_reporte.0.render|safe #}
                                        </figure> 
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    
                </div>
            </div>
        {% endwith %}
    </div>
{% endblock %}