{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="panel fts-border-verde">
        <!-- Default panel contents -->
        <div class="panel-heading fts-bg-verde-gradiente">                
            <h4 class="inline">Reporte SMS recibidos con repuesta esperada: campaña n° {{ campana_sms.pk }}</h4>
            <div class="clear-fix"></div>
        </div>
        <div class="panel-body">
            <div class="col-lg-12">                                  
                <table class="table table-bordered">
                    <thead>
                      <tr class="fts-table-bg">                                
                        <th>Id contacto</th>
                        <th>Número contacto</th>
                        <th>Fecha de envio sms</th>
                        <th>Fecha de sms recibido</th>
                        <th>Mensaje de repuesta</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for contacto in contactos_recibidos %}
                            <tr>

                                <td width="45%">                          
                                    {{contacto.id_contacto}}
                                </td>
                                <td>
                                    {{ contacto.numero_contacto}}
                                </td>
                                <td>{{ contacto.fecha_envio|date:"d/m/Y" }}</td>
                                <td>
                                    {{ contacto.fecha_recibido|date:"d/m/Y"  }}
                                </td>
                                <td>
                                    {{ contacto.mensaje_repuesta}}
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="6">
                                    <p class="text-center text-danger">
                                        <em>No se encontraron Contactos para esta campaña.</em>
                                    </p>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}