{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="panel panel-info">
        <!-- Default panel contents -->
        <div class="panel-heading">                
            <h4 class="inline">Reportes: Campañas Finalizadas</h4>
            <div class="clear-fix"></div>
        </div>
        <div class="panel-body">
            <div class="col-lg-12">                                  
                <table class="table table-bordered table-hover">
                    <thead>
                      <tr>                                
                        <th class="text-muted">Campaña</th>
                        <th class="text-muted">Fecha Desde</th>
                        <th class="text-muted">Fecha Hasta</th>
                        <th class="text-muted">Base Datos</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for campana in campanas_finalizadas %}
                            <tr>
                                <td width="45%">                          
                                    <a href="{% url 'detalle_campana_reporte' campana.id %}">{{ campana.nombre }}</a>
                                </td>
                                <td>{{ campana.fecha_inicio|date:"d/m/Y" }}</td>           
                                <td>{{ campana.fecha_fin|date:"d/m/Y" }}</td>
                                <td>
                                    {{ campana.bd_contacto }}
                                    ({{ campana.obtener_estadisticas.total_contactos }} Contactos)
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="6">
                                    <p class="text-center text-danger">
                                        <em>No se encontraron Campañas.</em>
                                    </p>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                
            </div>
        </div>
    </div>
{% endblock %}