{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}      
    <div class="panel fts-border-verde">
        <!-- Default panel contents -->
        <div class="panel-heading fts-bg-verde-gradiente">                
            <h4 class="inline">Nueva Campaña: Audio</h4>
            <div class="clear-fix"></div>
        </div>
        <div class="panel-body">
            <ul class="nav nav-tabs">
                <li ><a href="{% url 'datos_basicos_campana' campana.pk %}">1- Datos Básicos</a></li>
                <li class="active"><a>2- Audio</a></li>
                <li class="disabled"><a>3- Calificaciones</a></li>
                <li class="disabled"><a>4- Opciones</a></li>
                <li class="disabled"><a>5- Actuación</a></li>
                <li class="disabled"><a>6- Confirmar Campaña</a></li>
            </ul>
            <br>
            <form role="form" method="post" enctype="multipart/form-data" >   
                <div class="col-lg-4">               

                    {% if campana.audio_original %}
                        <div>
                            <h4>Audio actual de la Campaña</h4>
                            <audio src="{{ MEDIA_URL }}{{ campana.audio_original.name }}" controls></audio>
                        </div>
                        <hr>
                    {% endif %} 

                    {% crispy form %}
                </div>
                <div class="col-lg-12">
                    <br>
                    <button type="submit" id="id_guardar" class="btn btn-success btn-lg">
                        Guardar Audio
                    </button>
                    {% if campana.audio_original %}
                        <a href="{% url 'calificacion_campana' campana.pk %}" class="btn btn-default pull-right" role="button">
                            Continuar <span class="glyphicon glyphicon-chevron-right"></span>
                        </a> 
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
