{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block head_js %}
    <script type="text/javascript">
        $(function(){
            $("#id_archivo_de_audio").change(function() {
                if( $("#id_archivo_de_audio").val()) {
                    $("#id_tts").attr('disabled', true);
                } else {
                    $("#id_tts").removeAttr('disabled');
                }
            });

            $("#id_check_audio_original").change(function() {
                if($(this).is(":checked")) {
                    $("#id_audio_original").removeAttr('disabled');

                    $("#id_archivo_de_audio option:selected").attr("selected", false);
                    $("#id_archivo_de_audio").attr('disabled', true);

                    $("#id_tts option:selected").attr("selected", false);
                    $("#id_tts").attr('disabled', true);
                }else {
                    $("#id_audio_original").attr('disabled', true);
                    $("#id_audio_original").val('');

                    $("#id_archivo_de_audio").removeAttr('disabled');
                    $("#id_tts").removeAttr('disabled');
                }
            });

            $("#id_tts").change(function() {
                if( $("#id_tts").val()) {
                    $("#id_archivo_de_audio option:selected").attr("selected", false);
                    $("#id_archivo_de_audio").attr('disabled', true);
                } else {
                    $("#id_archivo_de_audio").removeAttr('disabled');
                }
            });
        });
    </script>
{% endblock %}

{% block content %}      
    <div class="panel fts-border-verde">
        <!-- Default panel contents -->
        <div class="panel-heading fts-bg-verde-gradiente">
            {% if es_template %}
                <h4 class="inline">Nuevo Template de Campaña: Audio</h4>
            {% else %}
                <h4 class="inline">Nueva Campaña: Audio</h4>
            {% endif %}                
            
            <div class="clear-fix"></div>
        </div>
        <div class="panel-body">
            <ul class="nav nav-tabs">
                {% if es_template %}
                    <li ><a href="{% url 'datos_basicos_template' campana.pk %}">1- Datos Básicos</a></li>
                {% else %}
                    <li ><a href="{% url 'datos_basicos_campana' campana.pk %}">1- Datos Básicos</a></li>
                {% endif %}
                <li class="active"><a>2- Audio</a></li>
                <li class="disabled"><a>3- Calificaciones</a></li>
                <li class="disabled"><a>4- Opciones</a></li>
                <li class="disabled"><a>5- Actuación</a></li>
                <li class="disabled"><a>6- Confirmar</a></li>
            </ul>
            <br>
            
           <form role="form" method="post" enctype="multipart/form-data" >
                <div class="col-lg-4">                
                    {% csrf_token %}                         

                    <h4>Nuevo Audio</h4>
                    {% crispy form %} 
                </div>
                <div class="col-lg-6">
                    {% if campana %}
                        <h4>Audios de Campaña</h4>
                        <table class="table table-bordered">
                            <thead>
                                <tr class="fts-table-bg">
                                    <th colspan="2">Audio</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for audio_de_campana in campana.audios_de_campana.all %}
                                    <tr>
                                        <td class="va-middle bdright-none">
                                                <span class="badge va-top mg-top-5">{{ audio_de_campana.orden }}</span> 
                                                {% if audio_de_campana.audio_original %}
                                                    <audio src="{{ audio_de_campana.audio_original.url }}" controls></audio>
                                                {% elif  audio_de_campana.archivo_de_audio%}
                                                    <audio src="{{ audio_de_campana.archivo_de_audio.audio_original.url }}" controls></audio>
                                                {% else %}
                                                    <strong>TTS:</strong> {{ audio_de_campana.tts }}
                                                {% endif %}
                                        </td>
                                        <td  class="va-middle bdleft-none">        
                                            {% if es_template %}
                                                
                                                <a href="{# url '' campana.pk audio_de_campana.pk #}"> Eliminar</a>
                                            {% else %}                                            
                                                
                                                <a href="{# url '' campana.pk audio_de_campana.pk #}"> Eliminar</a>

                                            {% endif %}  
                                        </td>
                                    </tr>
                                 {% empty %}
                                    <tr>
                                        <td> 
                                            <p class="text-center text-danger">
                                                <em>No se encontraron Audios de Campaña creados.</em>
                                            </p>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
                <div class="col-lg-12">
                    <br>
                    {% if es_template %}
                        <a href="{% url 'calificacion_template' campana.pk %}" class="btn btn-default pull-right" role="button">
                            Continuar <span class="glyphicon glyphicon-chevron-right"></span>
                        </a> 
                    {% else %}
                        <a href="{% url 'calificacion_campana' campana.pk %}" class="btn btn-default pull-right" role="button">
                            Continuar <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>                        
                    {% endif %}
                    <button type="submit" id="id_guardar" class="btn btn-success btn-lg modal_proceso_grande">
                        Guardar Audio
                    </button>
                    
                </div>
            </form>
        </div>
    </div>
{% endblock %}
