{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}


{% block content %}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">                
            <h4 class="inline">Campañas</h4>
            <div class="clear-fix"></div>
        </div>
        <div class="panel-body">
            <div class="col-lg-4">
                <form role="form" method="post" enctype="multipart/form-data" >
                    {% crispy form %} 
                                      

                    {% if campana.reproduccion %}
                        <div>
                            <h4>Audio de la Campaña</h4>
                            <audio src="{{ campana.reproduccion.url }}" controls></audio>
                        </div>
                    {% endif %}
                    
                    <br>


                    <button type="submit" class="btn btn-primary btn-block">
                        {% if campana %}
                            Guardar Campaña
                        {% else %}
                            Crear Campaña
                        {% endif %}
                    </button>
                </form>           
            </div>
        </div>
    </div>
{% endblock %}
